* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

i,
svg {
  pointer-events: none;
}

h1 {
  padding: 5px;
  font-weight: 400;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #0074b7, #003b73);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Intro Page */
.intro {
  background: #003b73;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #60a3d9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(227, 242, 255);
  font-size: 2rem;
}

.hide {
  background: #003b73;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* Pads */
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.kick-pad {
  background: hsla(0, 22%, 10%, 0.616);
}

.snare-pad {
  background: hsla(0, 22%, 10%, 0.616);
}

.hihat-pad {
  background: hsla(0, 22%, 10%, 0.616);
}

.kick-pad.active {
  background: hsl(0, 51%, 45%);
}

.snare-pad.active {
  background: hsl(123, 51%, 45%);
}

.hihat-pad.active {
  background: hsl(212, 51%, 45%);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.kick-track {
  margin-top: 3rem;
}

.hihat-track,
.snare-track {
  margin-top: 5rem;
}

.grid-container {
  max-width: 1200px;
  margin: 10px auto;
  border: 2px;
  border-radius: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);

  display: grid;
  grid-template-rows: 500px 300px;
  grid-template-columns: 1fr 3fr;
}

.glass-box {
  z-index: 2;
  position: fixed;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.circle1 {
  top: 3%;
  right: 13%;
}

.circle2 {
  bottom: 2%;
  left: 10%;
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 2rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
  min-width: 280px;
}

.controls button {
  padding: 1rem;
  border: none;
  background: hsl(0, 0%, 35%);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: hsl(0, 0%, 35%);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.3rem;
}

select {
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  min-width: 145px;
  background-color: hsl(194, 71%, 37%);
  color: aliceblue;
  border-radius: 0.3rem;
  transition: all 0.3s;
}

option {
  opacity: 0;
}

.custom-select {
  position: relative;
  transition: all 0.3s;
}

.custom-arrow {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  background: hsl(194, 71%, 27%);
  top: 0;
  right: 0;
  pointer-events: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-left: 0.65rem solid transparent;
  border-right: 0.65rem solid transparent;
  border-top: 0.65rem solid aliceblue;
}

.custom-select:hover {
  transform: translateY(-2px);
}

.mute.active {
  background: gray;
}

.tempo {
  margin: 2rem;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: hsl(0, 0%, 35%);
  cursor: pointer;
  border-radius: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

/* Piano section */

.piano {
  grid-column: 1 / -1;
  display: flex;
  padding: 2rem;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  background-color: white;
  --width: 50px;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  background-color: black;
  --width: 30px;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.reverb {
  width: 2rem;
  height: 2rem;
  background-color: red;
}

.reverb.active {
  background-color: green;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
